# env
**.env

# js
**/dist
**/node_modules

# misc
**/.DS_Store
**/.vscode/*
**/*.zip


# cdk
**/cdk.out
**/*.swp
**/cdk.context.json
**/package-lock.json
**/yarn.lock
**/.cdk.staging

# Logs
**logs
**/*.log